*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav{
    height: 30px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#my-canvas{
    border: 1px solid black;
    border-radius: 20px;

}